build/
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
*.o
*.a
*.so
*.dylib
*.exe
*.dll
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.suo
*.user
*.userosscache
*.sln.docstates
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

